/*==============
    LEFT PANEL
  ==============*/

.background{
    color: #555;
    background-color: #f0f0f0;
}

html, body{
    height: 100%;
}

body{
    font-family: sans-serif;
    line-height: 1.4em;
    display: block;
    margin: 8px;
}

#wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div{
    display: block;
}

.leftPanel{
    position: fixed;
    display: block;
    width: 270px;
    top: 0;
    left: 0;
    right: 270px;
    bottom: 0;
    padding: 0;
    z-index: 10;
    box-sizing: border-box;
}

.scrollable{
    padding: 0;
    position: relative;
    height: 100%;
}

.content{
    height: 100%;
    overflow: hidden;
    padding: 40px 10px 40px 40px;
    box-sizing: border-box;
}

.content header{
    display: block;
    padding: 0;
    margin: 0 0 30px;
}

a:link, a:visited{
    text-decoration: none;
    outline: none;
}

a{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

nav .siteLinks a{
    font-weight: 600;
    color: #8f8f8f;
    font-size: 18px;
    opacity: 1;
}

nav .current a{
    color: #20a58e;
}

nav ul li a{
    padding: 0;
    line-height: 17px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}

nav a{
    color: #555555;
}

nav ul{
    margin: 0 0 25px;
}

.content header a{
    color: #2d2d2d;
}

.content header h1{
    font-weight: 600;
}

h1{
    font-size: 24px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

nav{
    text-align: left;
    display: block;
}

.siteLinks{
    padding: 0;
}

ul{
    margin: 0 0 25px;
    list-style: none;
}

ol, ul, li, table, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

li{
    margin: 0 0 5px;
}

nav hr{
    background-color: #b9b9b9;
    display: block;
    height: 1px;
    width: 50px;
    border: none;
    margin: 0 130px 20px 0;
}

nav::after{
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

body.light footer{
    background-color: #f0f0f0;
}

#footer{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 220px;
    padding: 0 0 40px 40px;
    font-size: 13px;
    line-height: 1.4em;
}

footer p{
    color: #b1b1b1;
    font-size: 13px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

/*=====================
    INDEX RIGHT PANEL
  =====================*/

main{
    display: block;
    position: relative;
    max-width: 1650px;
    min-width: 700px;
    padding: 40px 40px 100px 290px;
    box-sizing: border-box;
    z-index: 1;
    margin: 20px 80px;
}

main ul{
    list-style: decimal;
    list-style-position: outside;
    margin-bottom: 1em;
    padding-left: 20px;
}

main a{
    color: #20a58e;
}

.projectSquares{
    width: 100%;
    max-width: 976px;
    margin: -8px -8px 0 -8px;
    padding-left: 0;
}

.thumbProject{
    display: block;
    position: relative;
    text-align: center;
    width: calc(50% - 16px);
    float: left;
    margin: 8px 8px -40px 8px;
    box-sizing: border-box;
    z-index: 1;
}

.projectSquares .thumbProject::after{
    padding-top: 100%;
    display: block;
    content: '';
}

.thumbProject a{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*=============================
    IMAGE PROJECTS-RIGHT PANEL
  =============================*/

.project_01{
    background-image: url("../images/project_01/signal..png");
}

.project_02{
    background-image: url("../images/project_02/LimitedSpaceshipGameView01.png");
}

/*=====================
    PROJECT SLIDESHOW
  =====================*/

#SlideShow_Background{
    background: rgba(255, 255, 255, 0.35);
}

.imageBox{
    display: none; /* Lets not display image from here, lets rather do it in JS */
}

#projectInside{
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin:auto;
}

#projectInside a{
    text-decoration: none;
}

.slideshowImages{
    height: auto;
    vertical-align: middle;
    box-shadow: 0px 2px 10px 7px rgba(0, 0, 0, .75);
    width: 100%;
}

.Previous, .Next{
    cursor: pointer;
    position: absolute;
    top: 12vw;
    margin-left: -27.5vw;
    margin-right: 9.85vw;
    width: auto;
    padding: 2vw;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 3px;
    user-select: none;
    transition: 0.6s ease;
}

.Next{
    right: 0;
    border-radius: 3px;
}

.Previous:hover, .Next:hover{
    background-color: rgb(68, 68, 68);
    color: rgb(163, 163, 163);
}

.dot{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover{
    background-color: #20a58e;
}

/*============================
    PROJECT IMAGE-PAGE PANEL
  ============================*/

.projectInside{
    text-align: center;
    margin: 0 0 40px;
    max-width: 960px;
}

.projectInside div{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 25px;
}

.imageBox{
    display: block;
    position: relative;
    box-sizing: border-box;
}

.imageBox img{
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

/*============================
    PROJECT DETAIL-PAGE PANEL
  ============================*/

body.light .details{
    border-top: 1px solid #e5e4d9;
}

.details{
    padding: 30px 0 0;
    margin-bottom: 30px;
    max-width: 960px;
    overflow: auto;
    margin-left: 100px;
}

.details .col{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 30px 20px 0;
}

.details p{
    margin: 0 0 1em;
    font-size: 15px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

.details tr:nth-child(2n+1){
    background-color: rgba(255, 255, 255, 0.5);
}

.details table td{
    padding: 8px;
}

.details table td .text{
    vertical-align: middle;
}

.details h5{
    color: #b1b1b1;
    padding-top: 3px;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
}

.details table .url{
    display: block;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.details .url a{
    font-style: italic;
    opacity: 1;
}

/*=======================
    CONTACT RIGHT PANEL
  =======================*/

.contact{
    position: relative;
    max-width: 960px;
}

.form{
    margin: 0 0 50px;
    width: 100%;
    padding: 0px 0 0;
}

.contact h1{
    color: #555;
}

.form h1{
    padding: 0px 0 40px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

.form .field{
    position: relative;
    margin: 0 0 10px;
}

.form .field:first-child, .form .field:nth-child(2){
    height: 52px;
}

.form .fieldMessage{
    margin: 0 0 20px;
}

.form label{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    height: 52px;
    line-height: 52px;
    visibility: hidden;
    opacity: 0;
    transition: margin 0.08s ease-out;
    margin-right: 0px;
}

.form input, .form textarea{
    border: solid 1px #d4d3c9;
    background-color: #fff;
    color: #555;
}

.form input, .form textarea{
    display: block;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    height: 52px;
    padding: 15px 180px 15px 17px;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    box-sizing: border-box;
}

input, textarea, button{
    font-family: 'Source Sans Pro', 'sans-serif';
}

.form .message{
    display: block;
    font-size: 12px;
    color: #c14343;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    height: 52px;
    line-height: 52px;
    font-style: normal;
    visibility: hidden;
    opacity: 0;
    transition: margin 0.1s ease-out;
    margin-right: 0px;
}

.form textarea{
    height: 250px;
}

.form button{
    color: #fff;
    background-color: #8f8f8f;
}

.form button{
    font-size: 18px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    opacity: 1;
    padding: 0;
    border-radius: 5px;
}

button{
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#contactForm .confirmed{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.contact .details{
    width: 100%;
    margin: 0 0 50px;
    position: inherit;
}

.details{
    padding: 30px 0 0;
    margin-bottom: 30px;
    max-width: 960px;
    overflow: auto;
}

.contact .details .col{
    width: 50%;
    float: left;
}

.contact .details h1{
    margin: 0 0 20px;
}

/*=======================
    ABOUT RIGHT PANEL
  =======================*/

.about{
    padding: 0px 40px;
    max-width: 960px;
    box-sizing: border-box;
    /*margin: 20px 100px;*/
}

.about .blockInfo{
    border-bottom: solid 1px #b9b9b9;
    color: #b8b8b1;
    padding: 40px 50px 25px 0;
    min-height: 32px;
}

.about .blockInfo a{
    position: relative;
    padding-right: 0;
}

.about .blockInfo:first-child{
    padding-top: 20px;
}

.about .blockInfo .resumeLink{
    display: block;
    position: absolute;
    right: 250px;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.about .blockInfo .resumeLink{
    background-color: #8F8F8F;
    color: #fff;
}

.about .blockInfo .row:nth-child(1), .about .blockInfo .row:nth-child(2){
    padding-right: 250px;
}

.about .row{
    position: relative;
    padding-left: 0px;
}

.about h5{
    color: #b1b1b1;
    line-height: 24px;
    float: none;
    margin: 0;
    width: 100px;
    position: inherit;
    text-align: left;
    font-style: italic;
}

.about .blockInfo p{
    padding: 0 0 8px;
}

.about p{
    color: #555;
    line-height: 24px;
    font-size: 15px;
}

p{
    margin: 0;
}




